<footer class="text-center text-muted p-3 border-top bg-light small">
    <div>
        © @DateTime.Now.Year HBITS Scale — All rights reserved.
    </div>
    <div class="mt-1">
        This app is for research and informational use only. Data may be incomplete or outdated and should not be considered official.
        Not affiliated with any Contractor or government agency. Please verify all information independently.
    </div>
    <div>
        <NavLink class="nav-link" href="/about">
            <span class="oi oi-code"></span> About
        </NavLink>
    </div>
</footer>
